<%= error_messages_for 'accept' %>

<!--[form:accept]-->
<p><label for="accept_create_at">Create at</label><br/>
<%= datetime_select 'accept', 'create_at'  %></p>

<p><label for="accept_comment">Comment</label><br/>
<%= text_area 'accept', 'comment'  %></p>
<!--[eoform:accept]-->

