<%= error_messages_for 'currency' %>

<!--[form:currency]-->
<p><label for="currency_name">Название валюты</label><br/>
<%= text_field 'currency', 'name'  %></p>

<p><label for="currency_abbr">Обозначение валюты</label><br/>
<%= text_field 'currency', 'abbr'  %></p>

<p><label for="currency_small">Сокращение для валюты</label><br/>
<%= text_field 'currency', 'small'  %></p>


<!--[eoform:currency]-->

