<% for column in Bugzilla.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bugzilla.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bugzilla %> |
<%= link_to 'Back', :action => 'list' %>
