Базналичная гривна <%= @BNGRN.crossrate%> коэффициент потерь  <%= @BNGRN.loss%><br>
Наличная гривна <%= @NGRN.crossrate%> коэффициент потерь  <%= @NGRN.loss%><br>
Наличный доллар 1 коэффициент потерь  1 <br>


<br />

<%= link_to 'Ввести новый курс', :action => 'new' %>
<br />
<%= link_to 'История изменения курса', :action => 'history' %>
