<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Grand Total</title>
  
  <%= stylesheet_link_tag :blueprint %>

  <%= javascript_include_tag :defaults%>

</head>
  <body id="container" class="container"  >



    
    <div id='nav'>
      <div class='content' id="content">

    <% if session[:user].blank? == false%>
      <ul>
            <!-- админ -->

      <% if session[:status] == 3 %>
      <li><a href="/welcome/logout" id='LogOutBtn' title='Logout'>Выход</a></li>
      <li><a href="/payments/list">Заявки</a></li>  
      <li><a href="/firms/index">Фирмы</a></li>
      <li><a href="/currencies_values/index">Валюты</a></li>
      <li><a href="/accounts/index">Счета</a></li> 
      <li><a href="/categories/index">Категории</a></li> 
      <li><a href="/grands/index">Бюджеты</a></li> 
      <li><a href="/news/new">Новости</a></li> 
    <!-- Директор -->
    <%elsif  session[:status] == 2 %>
      <li><a href="/welcome/logout">Выход</a></li>
      <li><a href="/payments/list">Заявки (new)</a></li>
      <li><a href="/payments/chiff">Все заявки</a></li>
      <li><a href="/firms/index">Фирмы</a></li>
      <li><a href="/currencies_values/index">Валюты</a></li>
      <li><a href="/news/new">Новости</a></li> 
      <li><a href="/grands/index">Бюджет</a></li>
    <%elsif  session[:status] == 111 %>
<!-- Финотдел -->
      <li><a href="/welcome/logout">Выход</a></li>
      <li><a href="/payments/list">Заявки</a></li>
      <li><a href="/firms/index">Фирмы</a></li>
      <li><a href="/currencies_values/index">Валюты</a></li>
      <li><a href="/accounts/list">Счета</a></li> 
      <li><a href="/grands/index">Бюджеты</a></li> 

  <%elsif  session[:status] == 4 %>
    <!-- главбух -->
    <li><a href="/welcome/logout">Выход</a></li>
    <li><a href="/accounts/index">Счета</a></li>
    <li><a href="/currencies_values/index">Валюты</a></li> 
    <li><a href="/payments/list">Завки</a></li>

  <%elsif  session[:status] == 5 %>
    <!-- руководитель отдела -->
    <li><a href="/welcome/logout">Выход</a></li>
    <li><a href="/public/accounts/index">Счета</a></li>
    <li><a href="/grands/index">Бюджет</a></li>
    <li><a href="/users/index">Пользователи</a></li>
    <li><a href="/payments/list">Заявки</a></li>

  <%elsif  session[:status] == 12 %>
    <!-- руководитель отдела -->
    <li><a href="/welcome/logout">Выход</a></li>
    <li><a href="/grands/index">Бюджет</a></li>
    <li><a href="/payments/list">Заявки</a></li>


  <%else%>

          <li><a href="/payments/list">Заявки</a></li> 
          <li><a href="/welcome/logout">Выход</a></li>

  <%end%>
</ul>
  <% end %>



      </div>
    </div>
    <br />
    <div id='header'>
      <div class='content'>
        <a href='/welcome' title='Fregat'>
          <img alt="ISP Fregat" src="/images/logo.png" />
        </a>
        <h1>
          Бюджет и финансы
        </h1>
          <%if session[:name].nil? == false && (session[:status]==2 || session[:status]==3) %>

            <%@firm = Firm.find(session[:firm])%>
          <h2> У фирмы "<%=@firm.name%>" на счету:</h2>
        <div style="float:right;	font-size: 12px;
          ">
          <% for i in @firm.accounts%> 
            <p><%= i.name %>&nbsp;<%= i.summ%><%= i.currency.small %></p>
          <%end%>
        </div>       
      <%elsif session[:name].nil? == false%>
        <h2> Добро пожаловать, <%=session[:name]%></h2>

      <%else%>
            <h2> Добро пожаловать,
              Анонимус</h2>
          <%end%>

      </div></div>


 <% if @flash[:errCurrenciesor]%>
  <p style="color: red; margin-top: 40px;"><%= flash[:error] %></p>
<% end %>

    <div id='top'>
      <div class='content'>
        <p>
         <div style="float:right;	font-size: 12px;
           "> <b>Текущий курс валют:</b>
          <% for i in Currency.find(:all)%> 
            <%= i.abbr %>  <%=i.currencies_values.find(:first, :order=>'create_at DESC').crossrate%>| 
          <%end%>

        </div>

        </p>
        <p class='green'>
          
        </p>
        <div class='clear'>
        </div>
      </div>
      <div id='topBtm'>
      </div>
    </div>
    <div class='content'>
      <%
      
      %>
      <% if flash[:error].nil? == false %>
    <div class='flashError'>
      <div class='flashErrorTop'>
      </div>
      <div class='flashErrorBody'>
        <%= flash[:error] -%>       
      </div>
      <div class='flashErrorBtm'>
      </div>
    </div>
  <%end%>

    <% if @flash[:notice] %>
       <div class='flashMessage'>
      <div class='flashMessageTop'>
      </div>
      <div class='flashMessageBody'>
        <p><%= flash[:notice] %> </p>
      </div>
      <div class='flashMessageBtm'>
      </div>
    </div>
  <% end %>
  <script>
    function event_close(id){
      var pars = 'event_id='+id;

      new Ajax.Request('/events/hide', {
  method: 'get',
  parameters:pars 
  });
     Effect.Fade('ev-'+id);
    }
    </script>
    <% 
      
      events=Event.find(:all, :conditions => ["status=0 and user_to=?", session[:user]])
    unless  events.empty?%>
       <div class='flashMessage'>
      <div class='flashMessageTop'>
      </div>
      <div class='flashMessageBody'>
        <p><%events.each{ |a| %> 
        <span id='ev-<%=a.id%>'><%=a.create_at.day%>.<%=a.create_at.mon%>.<%=a.create_at.year%> <%=a.subject%> ----------------- <img src='/images/close.gif' alt="Удалить" width='16' onclick='event_close("<%=a.id%>")'></span><br>
         <%}%>
        </p>
      </div>
      <div class='flashMessageBtm'>
      </div>
    </div>
  <% end %>

  <br>
      <%= yield %>
    </div>
          <div class='form grey'>
        <div class='greyTop'>
        </div>
        <div class='info'>
          <h3>Нужна помощь?</h3>
          <p>
            Появились вопросы или пожелания, вы чего то не знаете или что то не работает как надо?? 
            <p class='para'>
              Не ленитесь <a href="/bugzillas/new">спросите у администратора</a>, ваше мнение важно для нас!
            </p>
          </p>
        </div>
        <div class='clear'>
        </div>
        <div class='greyBtm'>
        </div>
      </div>
    <div id='footer'>
      
          </div>
  </body>
</html>
